.bar{
    border:1px solid #D3D3D3;
    border-radius:20px;
    height: 1cm;
    margin: .5cm;
    opacity:100%;
    text-align:left;
    width:15cm;
}

.bar:hover{
    box-shadow: .5px .5px 2px 2px #D3D3D3;
}

.button{
    background-color:whitesmoke;
    border:none;
    color:black;
    box-shadow:100px;
    font-family:arial;
    font-size:15px;
    padding:10px;
    text-decoration:none;
}

.button:hover{
    outline:1.5px solid lightgray;
}

.buttonBlue{
    border:none;
    background:#4D90FE;
    border-radius:3px;
    color:white;
    height:30px;
    padding:0px 12px;
}

.buttonBlue:hover{
    background:#3079ed;
}

.link{
    font-family:arial,san-serif;
    font-size:13px;
    text-align:right;
    text-decoration:none;
    color:rgba(0,0,0,.87);
    padding:10px;
}
.link:hover{
    text-decoration:underline;
}
#logo{
    padding:.75cm;
    margin-top:1in;
}

.searchbar{
    border:none;
    color:black;
    font-size:18px;
    height:.75cm;
    margin-left:.35cm;
    opacity:100%;
    width:12.5cm;
}
.searchbar:focus{
    border:none;
    outline:none;
}

#searchButton{
    border:none; background-color:white;
}
#searchButton:hover{
    cursor:pointer;
}

.text{
    font-family:arial, sans-serif;
    font-size:16px;
    margin:1cm;
}

.top{
    margin-top:10px;
    text-align:right;
}

.ul{
    list-style:none;
}


.adv_grid{
    display:grid;
    grid-column-gap:10px;
    grid-row-gap:15px;
    grid-template-columns:15% 40% 20%;
    margin:1cm;

    font:13px arial,sans-serif;
}

.adv_input{
    height: .6cm;
    border: 1px solid #bbbbbb;
    border-radius: 2px;
}

.adv_input:focus{
    outline:1px solid #0096FF;
}

.desc{
    color: #555555;
    font:11px arial,sans-serif;
}

@media (max-width:1070px){
    .desc{
        display:none;
    }
    .adv_grid{
        grid-template-columns: 30% 40%;
    }
}

@media (max-width: 500px){
    #logo {
        width:70%;
        height:auto;
    }

    .bar{
        width:75%;
    }
    .searchbar {
        width:65%;
    }

    .adv_grid{
        grid-template-columns:90%;
    }
}